<div class="container">
<br />
	<div class="panel panel-default">
		<div class="Panel-heading">
			<center>
				<h1>
				meetup.namebyId
				</h1>
			</center>
		</div>
		<div class="panel-body">
			<center>
				<a href="#" class="btn btn-danger">Home</a>&nbsp;
				<a href="#" class="btn btn-danger">Photos</a>&nbsp;
				<a href="#" class="btn btn-danger">Members</a>&nbsp;
				<a href="#" class="btn btn-danger">Descussions</a>&nbsp;
			</center>
		</div>

	</div>









</div>